body{
background-color:#1BD4AE;

}
a:hover{color:#FF00FF;}
hr{
  border-style: solid;
  border-top-style: dashed;
  border-color:#CA18F1;
  border-width: 8px;
  width: 8%;
height: auto;

}
h3{
color:#1842F1;

}
h1 {
   background-color: maroon;
     margin-left: 40px;

 }

table{

background-color:#FFFF00; 
}
p { font: normal small-caps 24px/28px fantasy;
 line-height: normal;
font-weight:bold;
text-decoration: none;
font-variant: normal;}
#adx{color:white;}
